/* Page Layout */

body {
  background: linear-gradient(to bottom right, #bf7743, #6e6a67);
  font-family: Arial, Helvetica, sans-serif;
}

/* Website Header */
.siteHeader {
  text-align: center;
}

/* Navigational Bar */
.navBar {
  margin: 0 10%;
  position: relative;
  overflow: hidden;
  background-color: #333;
  border-radius: 10px;
  border: 1px solid;
}

.navLinks {
  width: 25%;
  color: white;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  min-width: 125px;
  float: left;
}

.navLinks:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: chocolate;
}

/* Content */

.contentContainer {
  margin: 0px 15%;
}

.row {
  display: flex table;
  margin-bottom: 1%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column2 {
  display: table-cell;
  padding: 10px;
  flex: 50%;
  border-radius: 10px;
  border-right: 0;
  border-top-right-radius: 0%;
  border-bottom-right-radius: 0%;
}

.column3 {
  display: flex;
  float: left;
  /* padding: 10px; */
  flex: 33.33%;
  width: 33.33%;
  border-radius: 10px;
  border-right: 0;
  border-top-right-radius: 0%;
  border-bottom-right-radius: 0%;
}
/* Home Page Styling */

#linkContainer {
  width: 100%;
}

.introHeader {
  margin-top: 10px;
  margin-bottom: 10px;
  text-transform: uppercase;
  text-decoration: underline;
  text-align: center;
}

.mainText {
  padding: 5px;
  text-align: justify;
  text-justify: auto;
}

#mainImage {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  max-height: 35%;
  max-width: 35%;
  background-size: cover;
  border-radius: 10px;
  border: 1px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Sub Content */

.column3 a {
  margin-left: auto;
  margin-right: auto;
}

.pageLinks {
  text-decoration: none;
  text-justify: auto;
  margin-left: auto;
  margin-right: auto;
}

.pageImgLinks {
  max-width: 100%;
  max-height: 100%;
}

/* Footer */
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #333;
  text-align: center;
  min-height: 2%;
}

.footerText {
  /* padding-top: 1.5%; */
  padding-right: 2.5%;
  float: right;
  text-align: center;
  text-decoration: none;
  color: white;
}

.footerDesc {
  float: left;
  margin-left: 2%;
  color: white;
}

.returnButton {
  text-decoration: none;
  text-transform: uppercase;
  width: 15%;
  float: right;
  color: white;
  min-height: 30px;
}

/* Past Page */

.contentHeader {
  margin-top: 10px;
  margin-bottom: 10px;
  text-transform: uppercase;
  text-decoration: underline;
  text-align: left;
}

.subHeader {
  margin-top: 10px;
  margin-bottom: 10px;
  font-style: italic;
  text-align: left;
}

table {
  border-collapse: collapse;
  width: 80%;
  border: 1px solid black;
}

tr {
  text-align: center;
  border-collapse: collapse;
  border: 1px solid black;
}

th {
  font-weight: bold;
  color: white;
  border-collapse: collapse;
  border: 1px solid black;
}

td {
  border-collapse: collapse;
  border: 1px solid black;
  text-align: left;
}

span {
  text-align: left;
  font-weight: bold;
}

.contentTable {
  margin: 0 auto;
  table-layout: auto;
  width: 100%;
}

.tableHeader {
  background-color: #bf7743;
}

.sourceCol {
  width: 70%;
}

.contentCol {
  width: 30%;
}

.sourceList {
  text-align: left;
}

.languageList {
  text-align: left;
  list-style-type: none;
}
